.streaming-app {
  margin: 0 80px;
}

.content-sections {
  position: relative;
  border: 2px solid rgb(20, 20, 20);
  padding: 10px;
  border-radius: 10px;
  margin:60px 0;
}

.tag-section {
  position: absolute;
  top: -23px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #e50914;
  width: 110px;
  height: 42px;
  border-radius: 10px;
  font-size: 14px;
}

// responsive
@media (min-width: 768px) and (max-width: 1024px) {
  .streaming-app {
    margin: 0 36px;
  }
}

@media (max-width: 768px) {
  .streaming-app {
    margin: 0 8px;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); /* Chiều cao viewport trừ đi chiều cao header */
  color: #e5e5e5;
  background-color: #141414;
  gap: 1.5rem;
}

/* Loading Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #444;
  border-top-color: #e50914;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Error State */
.error-container {
  i {
    font-size: 3rem;
    color: #e50914;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    background: #e50914;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;

    &:hover {
      background: #f40612;
    }
  }
}
